body {
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background: linear-gradient( 150deg, #06d1a5, #0648aa );
    height: 100vh;
}
.formulario1 {
    color: rgb(6, 6, 24);
    text-align: center;
    font-size: 30px;
    transform: translateY(-30px);
    }

.form input{
text-align: left;
}
    

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid silver;
    color: #06d1a5;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;

}

form.username{

    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid silver;
}

.username label{
   position: relative;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.username span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #06d1a5;
    transition: .5s;
}

.username input.focus ~ label,
.username input.focus ~ label{
    top: -5px;
    color: #06d1a5;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: rgb(32, 180, 180);
    cursor: pointer;
    text-align: center;
    
}

.recordar:hover{
    text-decoration: underline;
}

.registrarse{
    margin: -5px 0 20px 5px;
    color: #06d1a5;
    cursor: pointer;
    text-align: center;
}

a{
    margin: -5px 0 20px 5px;
    color: #06d1a5;
    color: #0648aa;
    cursor: pointer;
}

input{
    background: #06d1a5;
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
}


input [type="submit password"]{
    color:rgb(10, 1, 1)     ;
    cursor: alias;
    outline: none;

}